<a href="https://colab.research.google.com/github/Bimal999/python/blob/main/Missing_values_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
!gdown 1g1nwk4k-h9FceEHKZc8ocfu_xp3xnZ8R

Downloading...
From: https://drive.google.com/uc?id=1g1nwk4k-h9FceEHKZc8ocfu_xp3xnZ8R
To: /content/hr.csv
100% 580k/580k [00:00<00:00, 107MB/s]

In [54]:
import pandas as pd

df=pd.read_csv('hr.csv')

In [55]:
df.head(50)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,NaN
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.0
2,0.45,0.45,2,154,3,1,1,0,support,medium,NaN
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,NaN
4,0.14,0.54,5,275,4,1,0,0,sales,high,NaN
5,0.62,0.52,3,148,3,0,0,0,sales,medium,NaN
6,0.66,0.56,4,141,4,0,0,0,support,medium,NaN
7,0.58,0.57,3,144,4,1,0,0,sales,medium,NaN
8,0.60,0.91,4,185,3,1,0,0,product_mng,NaN,NaN
9,0.42,0.52,2,141,3,1,1,0,sales,medium,25.0
10,0.11,0.88,7,272,4,0,1,0,sales,medium,27.0
11,0.19,0.79,5,171,3,1,0,0,technical,low,NaN
12,0.41,0.52,2,127,3,1,1,0,support,low,NaN
13,0.78,0.77,3,149,4,1,0,0,support,medium,NaN
14,0.43,0.46,2,157,3,0,1,0,sales,medium,NaN
15,0.14,0.75,4,277,5,1,1,0,sales,medium,NaN
16,0.69,0.72,3,243,3,0,0,0,marketing,low,NaN
17,0.73,0.55,4,267,3,0,0,0,sales,low,25.0
18,0.17,0.93,6,192,4,0,0,0,technical,low,NaN
19,0.61,0.98,2,238,4,0,0,0,support,medium,28.0
20,0.65,0.63,4,143,8,0,0,0,management,medium,NaN
21,0.92,0.57,3,191,3,0,0,0,support,low,NaN
22,0.83,0.74,3,221,2,0,0,0,support,medium,29.0
23,0.40,0.48,2,137,3,0,1,0,sales,medium,NaN
24,0.18,0.99,4,160,5,0,0,0,accounting,low,NaN
25,0.55,0.45,3,179,2,1,0,0,sales,low,NaN
26,0.89,0.95,2,181,5,0,1,0,technical,medium,27.0
27,0.09,0.82,6,249,4,0,1,0,technical,medium,NaN
28,0.10,0.82,6,266,4,0,1,0,IT,low,NaN
29,0.10,0.87,6,284,4,0,1,0,sales,medium,NaN
30,0.49,0.73,4,185,3,0,0,0,sales,low,28.0
31,0.53,0.94,4,128,6,0,0,0,hr,medium,NaN
32,0.68,0.93,4,179,2,0,0,0,sales,medium,25.0
33,0.09,0.89,6,276,4,0,1,0,technical,low,NaN
34,0.44,0.51,2,138,3,0,1,0,support,low,NaN
35,0.72,0.50,3,205,3,1,0,0,sales,low,27.0
36,0.56,0.88,4,273,3,0,0,0,support,low,NaN
37,0.83,0.65,3,231,2,0,0,0,support,low,NaN
38,0.54,0.65,5,206,4,1,0,0,sales,low,NaN
39,0.96,0.69,3,214,2,1,0,0,IT,low,25.0
40,0.85,0.96,2,260,3,0,0,0,support,medium,NaN
41,0.40,0.51,2,145,3,0,1,0,hr,low,27.0
42,0.61,0.90,4,216,3,0,0,0,technical,medium,NaN
43,0.94,0.86,3,223,4,0,0,0,sales,medium,NaN
44,0.62,0.64,4,142,2,0,0,0,technical,low,NaN
45,0.37,0.71,2,139,4,0,0,0,RandD,high,NaN
46,0.68,0.78,3,264,3,0,0,0,hr,low,NaN
47,0.32,0.55,4,167,5,0,0,0,support,medium,NaN
48,0.91,0.92,4,246,5,0,1,0,sales,low,NaN
49,0.94,0.92,3,187,2,0,0,0,marketing,low,29.0

In [56]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,age
count,15004.000000,15004.000000,15004.000000,15004.000000,15004.000000,15004.000000,15004.000000,3080.000000
mean,0.612871,0.716096,3.802919,201.044655,3.497934,0.144561,0.021261,27.018506
std,0.248628,0.171163,1.232550,49.937662,1.460012,0.351670,0.144258,1.429511
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,25.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,26.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,27.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,28.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,29.000000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15004 entries, 0 to 15003
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     15004 non-null  float64
 1   last_evaluation        15004 non-null  float64
 2   number_project         15004 non-null  int64
 3   average_montly_hours   15004 non-null  int64
 4   time_spend_company     15004 non-null  int64
 5   Work_accident          15004 non-null  int64
 6   left                   15004 non-null  object
 7   promotion_last_5years  15004 non-null  int64
 8   Department             15004 non-null  object
 9   salary                 14975 non-null  object
 10  age                    3080 non-null   float64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.3+ MB

In [58]:
df.shape

(15004, 11)

In [59]:
df.isnull().sum()

satisfaction_level           0
last_evaluation              0
number_project               0
average_montly_hours         0
time_spend_company           0
Work_accident                0
left                         0
promotion_last_5years        0
Department                   0
salary                      29
age                      11924
dtype: int64

In [60]:
print(df.isnull())

       satisfaction_level  last_evaluation  number_project  \
0                   False            False           False
1                   False            False           False
2                   False            False           False
3                   False            False           False
4                   False            False           False
...                   ...              ...             ...
14999               False            False           False
15000               False            False           False
15001               False            False           False
15002               False            False           False
15003               False            False           False

       average_montly_hours  time_spend_company  Work_accident   left  \
0                     False               False          False  False
1                     False               False          False  False
2                     False               False          False  False
3                     False               False          False  False
4                     False               False          False  False
...                     ...                 ...            ...    ...
14999                 False               False          False  False
15000                 False               False          False  False
15001                 False               False          False  False
15002                 False               False          False  False
15003                 False               False          False  False

       promotion_last_5years  Department  salary    age
0                      False       False   False   True
1                      False       False   False  False
2                      False       False   False   True
3                      False       False   False   True
4                      False       False   False   True
...                      ...         ...     ...    ...
14999                  False       False   False   True
15000                  False       False   False   True
15001                  False       False   False  False
15002                  False       False   False   True
15003                  False       False   False   True

[15004 rows x 11 columns]

# Fill missing values in 'age' column with the mean

In [61]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,NaN
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.0
2,0.45,0.45,2,154,3,1,1,0,support,medium,NaN
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,NaN
4,0.14,0.54,5,275,4,1,0,0,sales,high,NaN

In [46]:

mean_age = df['age'].mean()
df['age'].fillna(mean_age, inplace=True)

In [47]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,27.018506
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.000000
2,0.45,0.45,2,154,3,1,1,0,support,medium,27.018506
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,27.018506
4,0.14,0.54,5,275,4,1,0,0,sales,high,27.018506

# Fill missing values in 'Department' column with the mode

In [49]:

mode_department = df['Department'].mode()[0]  # mode() returns a series, so we take the first value
df['Department'].fillna(mode_department, inplace=True)

# Fill missing values in 'salary' column with the mode

In [50]:

mode_salary = df['salary'].mode()[0]
df['salary'].fillna(mode_salary, inplace=True)

In [51]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,27.018506
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.000000
2,0.45,0.45,2,154,3,1,1,0,support,medium,27.018506
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,27.018506
4,0.14,0.54,5,275,4,1,0,0,sales,high,27.018506